@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the auto lot</h1>
    <p>To browse our inventory, customers, and orders, use the links in the navigation bar.</p>
</div>
